<div class="card">
  <div class="card-content">              
    <div class="row valign-wrapper" style="margin-bottom: 0px">
      <div class="col s3">
        <img src="images/{{logo}}.png" alt="FB" class="responsive-img">
      </div>
      <div class="col s9">
        <span class="card-title black-text">{{account.name}}</span>
        <p class="truncate">{{account.description}}</p>
      </div>                
    </div>
  </div>
</div>