<nav style="background-color: transparent; -webkit-box-shadow: none; -moz-box-shadow: none;	box-shadow: none;">
  <div class="nav-wrapper">
    <span class="brand-logo black-text valign-wrapper" style="font-family: 'Shadows Into Light'; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;">&nbsp;<img src="images/acc.png" alt="" height=40px>&nbsp;All My Pics</span>
  </div>
</nav>