<!doctype html>
<html>
<head>
	<title>Assignment 1</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/materialize.min.css">

    <!--Let browser know website is mobile optimized-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper amber darken-1">
        <!-- TODO: Logo or site name -->
        <span class="brand-logo center">All My Pics</span>
        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/"><i class="mdi-action-view-module left"></i>Browse all</a></li>
          <li><a href="/favorites"><i class="mdi-action-favorite left"></i>Favorites</a></li>
          <li><a href="/accounts"><i class="mdi-social-people left"></i>Accounts</a></li>
        </ul>
        <ul class="side-nav" id="mobile-nav">
          <li><a href="/"><i class="mdi-action-view-module left"></i>Browse all</a></li>
          <li><a href="/favorites"><i class="mdi-action-favorite left"></i>Favorites</a></li>
          <li><a href="/accounts"><i class="mdi-social-people left"></i>Accounts</a></li>
        </ul>

      </div>
    </nav>
  </div>

    {{{body}}}    
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/materialize.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function(){
         $(".button-collapse").sideNav();
      });
    </script>
</body>
</html>



