<!doctype html>
<html>
<head>
	<title>Assignment 1</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/materialize.min.css">

    <!--Let browser know website is mobile optimized-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper amber darken-1">
        <!-- TODO: Logo or site name -->
        <span class="brand-logo" style="left: 20px">All My Pics</span>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/browse">Browse all<i class="mdi-action-view-module left"></i></a></li>
          <li><a href="/favorites">Favorites<i class="mdi-action-favorite left"></i></a></li>
          <li><a href="/accounts">Accounts<i class="mdi-social-people left"></i></a></li>
        </ul>
      </div>
    </nav>
  </div>

    {{{body}}}    
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/materialize.min.js"></script>
</body>
</html>



