<div class="container">

  <div class="section center-align">
    <h3>Your accounts</h3>
  </div>

  {{#if facebook}}
  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">

      <div class="card">
        <div class="card-content">              
          <div class="row valign-wrapper" style="margin-bottom: 0px">
            <div class="col s3">
              <img src="images/facebookCircle.png" alt="FB" class="responsive-img">
            </div>
            <div class="col s9">
              <span class="card-title black-text">{{facebook.name}}</span>
              <p class="truncate">{{facebook.description}}</p>
            </div>                
          </div>
        </div>
      </div>

    </div>
  </div>
  {{/if}}

  {{#if instagram}}
  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">

      <div class="card">
        <div class="card-content">          
          <div class="row valign-wrapper" style="margin-bottom: 0px">
            <div class="col s3">
              <img src="images/instagramCircle.png" alt="IG" class="responsive-img">
            </div>
            <div class="col s9">
              <span class="card-title black-text">{{instagram.name}}</span>
              <p class="truncate">{{instagram.description}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {{/if}}

  <div class="row section">
    <div class="col s12 m8 offset-m2 l6 offset-l3 right-align">
      {{#unless facebook}}
      <a href="/auth/facebook" class="btn-flat waves-effect">Connect Facebook</a>&nbsp;
      {{/unless}}
      {{#unless instagram}}
      <a href="/auth/instagram" class="btn-flat waves-effect">Connect Instagram</a>&nbsp;
      {{/unless}}
      <a href="/disconnect" class="btn waves-effect red">Disconnect</a>
    </div>      
  </div>
  
</div>