{{> transparent_navbar }}

<div class="container">

  <div class="section center-align">
    <h3>You're all set</h3>
  </div>

  <div class="section">
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        {{> account_card logo='facebook' account=facebook}}
      </div>
    </div>

    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        {{> account_card logo='instagram' account=instagram}}
      </div>
    </div>
  </div>

  <div class="row section hide-on-small-only">
    <div class="col s12 m8 offset-m2 l6 offset-l3 right-align">
      <a href="/" class="btn waves-effect light-green">Browse pictures</a>
    </div>  
  </div>

  <div class="hide-on-med-and-up center-align">
    <div class="section">
      <a href="/" class="btn waves-effect light-green">Browse pictures</a>
    </div>
  </div>
  
</div>