<div class="container">

  <div class="section center-align">
    <h3>You're all set</h3>
  </div>

  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">

      <div class="card">
        <div class="card-content">              
          <div class="row valign-wrapper" style="margin-bottom: 0px">
            <div class="col s3">
              <img src="images/facebookCircle.png" alt="FB" class="responsive-img">
            </div>
            <div class="col s9">
              <span class="card-title black-text">{{facebook.name}}</span>
              <p class="truncate">{{facebook.description}}</p>
            </div>                
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">

      <div class="card">
        <div class="card-content">          
          <div class="row valign-wrapper" style="margin-bottom: 0px">
            <div class="col s3">
              <img src="images/instagramCircle.png" alt="IG" class="responsive-img">
            </div>
            <div class="col s9">
              <span class="card-title black-text">{{instagram.name}}</span>
              <p class="truncate">{{instagram.description}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row section">
    <div class="col s12 m8 offset-m2 l6 offset-l3 right-align">
      <a href="/" class="btn waves-effect light-green">Browse pictures</a>      
    </div>      
  </div>
  
</div>