<div class="container section">
	<h4 class="center-align">Oops...</h4>
	<p class="center-align">Seems like something went wrong. Sorry for that.</p>
	<div class="row section">
    	<div class="col s6 offset-s3 center-align">
      		<a href="/" class="btn waves-effect light-green">Get me out of here</a>      
   		</div>      
  	</div>
</div>