<div class="container section">
	<h5 class="center-align">Nothing here?</h5>
	<p class="center-align">Connect your <a href="/accounts">social media accounts</a> to show all pictures you were tagged on</p>
</div>