{{> colored_navbar }}

<div class="container section center-align">
	<h3>You are hard to find!</h3>
	<p>But you can help us: Go to <a href="http://www.facebook.com">Facebook</a> or <a href="http://www.instagram.com">Instagram</a> and tag yourself on some photos</p>
</div>