{{> transparent_navbar }}

<div class="container">
	<div class="section center-align">
		<h3>Show me who I am</h3>
		<p style="font-size: 13pt">Want to see all photos you are tagged on? Let's go:</p>
	</div>

	<div class="row section hide-on-small-only">
	  <div class="col m6">
	  	<a href="/auth/facebook" class="btn waves-effect blue right">Connect Facebook</a>
	  </div>
	  <div class="col m6">
	  	<a href="/auth/instagram" class="btn waves-effect brown left">Connect Instagram</a>
	  </div>
	</div>

	<div class="section hide-on-med-and-up">
		<a href="/auth/facebook" class="btn waves-effect blue center">Connect Facebook</a>
	</div>
	<div class="section hide-on-med-and-up">
  		<a href="/auth/instagram" class="btn waves-effect brown center">Connect Instagram</a>
	</div>
</div>