{{> transparent_navbar }}

<div class="container">
	<div class="section center-align">
		<h3>Show me who I am</h3>
		<p>Want to see all photos you were ever tagged on? Let's go:</p>
	</div>

	<div class="row hide-on-small-only">
	  <div class="col m6">
	  	<a href="/auth/facebook" class="btn waves-effect blue right">Connect Facebook</a>
	  </div>
	  <div class="col m6">
	  	<a href="/auth/instagram" class="btn waves-effect brown left">Connect Instagram</a>
	  </div>
	</div>

	<div class="hide-on-med-and-up center-align">
		<div class="section">
			<a href="/auth/facebook" class="btn waves-effect blue center">Connect Facebook</a>
		</div>
		<div class="section">
  			<a href="/auth/instagram" class="btn waves-effect brown center">Connect Instagram</a>
  		</div>
	</div>
</div>