<div class="container section center-align">
	<h3>Show me who I am</h3>
	<p>Want to know which pictures of you are out there in the web? No problem.</p>
	<div class="row section">
	  <div class="col s6">
	  	<a href="/auth/facebook" class="btn waves-effect blue right">Connect Facebook</a>
	  </div>
	  <div class="col s6">
	  	<a href="/auth/instagram" class="btn waves-effect brown left">Connect Instagram</a>
	  </div>
	</div>
</div>