{{> transparent_navbar }}

<div class="container">
  
  <div class="row section center-align">
    <h3>Almost done</h3>
    <p>You connected this account:</p>
  </div>

  <div class="section">
  
    {{#if facebook}}
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        {{> account_card logo='facebook' account=facebook}}
      </div>
    </div>
    {{/if}}

    {{#if instagram}}
    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        {{> account_card logo='instagram' account=instagram}}
      </div>
    </div>
    {{/if}}

  </div>

  <div class="row section hide-on-small-only">
    <div class="col s12 m8 offset-m2 l6 offset-l3 right-align">
      <a href="/" class="btn-flat waves-effect waves-red">Skip</a>&nbsp;
      {{#unless facebook}}
      <a href="/auth/facebook" class="btn waves-effect blue">Connect Facebook</a>
      {{/unless}}
      {{#unless instagram}}
      <a href="/auth/instagram" class="btn waves-effect brown">Connect Instagram</a>
      {{/unless}}
    </div>
  </div>

  <div class="hide-on-med-and-up center-align">
    <div class="section">
      {{#unless facebook}}
      <a href="/auth/facebook" class="btn waves-effect blue">Connect Facebook</a>
      {{/unless}}
      {{#unless instagram}}
      <a href="/auth/instagram" class="btn waves-effect brown">Connect Instagram</a>
      {{/unless}}
    </div>
    <div class="section">
        <a href="/" class="btn-flat waves-effect waves-red">Skip</a>
    </div>
  </div>

</div>