<div class="container section">
  
  <div class="row center-align">
    <h3>Almost done</h3>
    <p>You have connected this account:</p>
  </div>
  
  {{#if facebook}}
  <!-- TODO: Maybe do margin-bottom: 0 px on these rows -->
  <div class="row">
    <div class="col s12 m10 offset-m1 l6 offset-l3">

      <div class="card">
        <div class="card-content">              
          <div class="row valign-wrapper" style="margin-bottom: 0px">
            <div class="col s3">
              <img src="images/facebookCircle.png" alt="FB" class="responsive-img">
            </div>
            <div class="col s9">
              <span class="card-title black-text">{{facebook.name}}</span>
              <p class="truncate">{{facebook.description}}</p>
            </div>                
          </div>
        </div>
      </div>

    </div>
  </div>
  {{/if}}

  {{#if instagram}}
  <div class="row">
    <div class="col s12 m10 offset-m1 l6 offset-l3">

      <div class="card">
        <div class="card-content">          
          <div class="row valign-wrapper" style="margin-bottom: 0px">
            <div class="col s3">
              <img src="images/instagramCircle.png" alt="IG" class="responsive-img">
            </div>
            <div class="col s9">
              <span class="card-title black-text">{{instagram.name}}</span>
              <p class="truncate">{{instagram.description}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {{/if}}

  <div class="row">
    <div class="col s6 offset-s3 right-align">
      <a href="/" class="btn-flat waves-effect waves-red">Skip</a>&nbsp;&nbsp;
      {{#unless facebook}}
      <a href="/auth/facebook" class="btn waves-effect blue">Connect Facebook</a>
      {{/unless}}
      {{#unless instagram}}
      <a href="/auth/instagram" class="btn waves-effect brown">Connect Instagram</a>
      {{/unless}}
    </div>
  </div>

</div>