/* grid of responsive square images, adapted from http://stackoverflow.com/questions/20456694/grid-of-responsive-squares */

.square {
    float: left;
    position: relative;
    width: 32.3%;
    padding-bottom: 32.3%; /* = width for a 1:1 aspect ratio */
    margin: 0.5%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /* you change this to "contain" if you don't want the images to be cropped */
    overflow: hidden;
}

.square:hover > .overlay {   
    opacity: 0.5;
}

.square:hover > .content {
    opacity: 1;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0;
}

.content {
    position: absolute;
    height: 100%; /* = 100% - 2*5% padding */
    width: 100%; /* = 100% - 2*5% padding */
    padding: 5%;
    opacity: 0;
    color: white;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/*  For list */
/*ul{
    text-align:left;
    margin:5% 0 0;
    padding:0;
    list-style-position:inside;
}
li{
    margin: 0 0 0 5%;
    padding:0;
}*/

